<h3> Welcome to the Angular Application. We modified the App Component. </h3>
<br>
Custom Component : <br>

<app-item-list></app-item-list>

<h3>Angular Data Binding</h3>

<app-ang-binding></app-ang-binding>

<h3>Angular Event Binding</h3>

<app-event-binding></app-event-binding>

<h3>Angular Two Way Data Binding</h3>

<app-two-way-data></app-two-way-data>

<h3>Angular Structural Directive</h3>

<app-structural-directive></app-structural-directive>

<h3>Angular Attribute Directive</h3>

<app-attribute-directive></app-attribute-directive>

<p txtFormatter>
    This is the text formatter attribute directibe example.
</p>

